.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group label:not(.form-check-label) {
    font-weight: 600;
}
.form-group label em {
    color: rgb(255, 3, 3);
}
table tr th {
    font-size: 12px;
}
table tr td {
    font-size: 12px;
}